name.txt
name1_output.csv
name_output.csv
user.properties
__pycache__/GoogleResultScraper.cpython-36.pyc
output/sf/NERlist.txt
output/sf/sf128_output.txt
output/sf/sf129_output.txt
output/sf/sf130_output.txt
output/sf/sf131_output.txt
output/sf/sf132_output.txt
output/sf/sf133_output.txt
output/sf/sf134_output.txt
stanford-corenlp-full-2017-06-09/build.xml
stanford-corenlp-full-2017-06-09/CoreNLP-to-HTML.xsl
stanford-corenlp-full-2017-06-09/corenlp.sh
stanford-corenlp-full-2017-06-09/ejml-0.23-src.zip
stanford-corenlp-full-2017-06-09/ejml-0.23.jar
stanford-corenlp-full-2017-06-09/input.txt
stanford-corenlp-full-2017-06-09/input.txt.xml
stanford-corenlp-full-2017-06-09/javax.json-api-1.0-sources.jar
stanford-corenlp-full-2017-06-09/javax.json.jar
stanford-corenlp-full-2017-06-09/joda-time-2.9-sources.jar
stanford-corenlp-full-2017-06-09/joda-time.jar
stanford-corenlp-full-2017-06-09/jollyday-0.4.9-sources.jar
stanford-corenlp-full-2017-06-09/jollyday.jar
stanford-corenlp-full-2017-06-09/LIBRARY-LICENSES
stanford-corenlp-full-2017-06-09/LICENSE.txt
stanford-corenlp-full-2017-06-09/Makefile
stanford-corenlp-full-2017-06-09/pom.xml
stanford-corenlp-full-2017-06-09/protobuf.jar
stanford-corenlp-full-2017-06-09/README.txt
stanford-corenlp-full-2017-06-09/SemgrexDemo.java
stanford-corenlp-full-2017-06-09/ShiftReduceDemo.java
stanford-corenlp-full-2017-06-09/slf4j-api.jar
stanford-corenlp-full-2017-06-09/slf4j-simple.jar
stanford-corenlp-full-2017-06-09/stanford-corenlp-3.8.0-javadoc.jar
stanford-corenlp-full-2017-06-09/stanford-corenlp-3.8.0-models.jar
stanford-corenlp-full-2017-06-09/stanford-corenlp-3.8.0-sources.jar
stanford-corenlp-full-2017-06-09/stanford-corenlp-3.8.0.jar
stanford-corenlp-full-2017-06-09/StanfordCoreNlpDemo.java
stanford-corenlp-full-2017-06-09/StanfordDependenciesManual.pdf
stanford-corenlp-full-2017-06-09/xom-1.2.10-src.jar
stanford-corenlp-full-2017-06-09/xom.jar
stanford-corenlp-full-2017-06-09/patterns/example.properties
stanford-corenlp-full-2017-06-09/patterns/goldnames.txt
stanford-corenlp-full-2017-06-09/patterns/goldplaces.txt
stanford-corenlp-full-2017-06-09/patterns/names.txt
stanford-corenlp-full-2017-06-09/patterns/otherpeople.txt
stanford-corenlp-full-2017-06-09/patterns/places.txt
stanford-corenlp-full-2017-06-09/patterns/presidents.txt
stanford-corenlp-full-2017-06-09/patterns/stopwords.txt
stanford-corenlp-full-2017-06-09/sutime/defs.sutime.txt
stanford-corenlp-full-2017-06-09/sutime/english.holidays.sutime.txt
stanford-corenlp-full-2017-06-09/sutime/english.sutime.txt
stanford-corenlp-full-2017-06-09/tokensregex/color.input.txt
stanford-corenlp-full-2017-06-09/tokensregex/color.properties
stanford-corenlp-full-2017-06-09/tokensregex/color.rules.txt
stanford-corenlp-full-2017-06-09/tokensregex/retokenize.txt
